:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 0.5em;
}

de-directory-explorer {
  height: 100%;
}

de-directory-explorer:last-child {
  margin-left: 0.5em;
}
